/*general----the-first-appear*/
/*home-hot*/
.general-left-width{
	width: 234px;
	float: left;
}
.general-left-height{
	height: 613px;
}
.general-right-width{
	width: 976px;
	float: right;
}
.general-point-top-image{
	position: relative;
	height: 60px;
}
.general-left-top-no1{
	height: 60px;
	line-height: 60px;
	font-size: 25px;
}

.general-right-top-no1{
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.general-right-top-no1 a span{
	float: left;
	width: 35px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 15px;
	border:1px solid #bbb;
}
.general-right-top-no1 a .less-than{
	border-right: 0px;
}
.general-right-top-no1 a span:hover{
	color: red;
}
.general-right-top-no2{
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.general-right-top-no2 a{
	font-size: 20px;
}
.general-right-top-no2 .for-add-radius{
	display:inline-block;
	width: 30px;
	height: 30px;
	background: #ddd;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
}
.general-right-top-no2:hover a{
	color: #ff6700;
}
/*image*/
.general-image-point-right ul{
	height: 100%;
	width: 100%;	
}
.general-image-point-right{
	overflow: hidden;
}
.general-image-point-right li{
	width: 234px;
	float: right;
	margin-left: 13px;
	position: relative;  
}
.home-flash-point .general-image-point-right li{
	height: 340px;
}
.general-image-point-right .height2 li{
	height: 300px;
}
.general-image-point-right li:nth-child(4){
	margin-left: 0px;
	margin-bottom: 15px;
}
.general-image-point-right li:nth-child(1){
	margin-bottom: 15px;
}
.general-image-point-right li:nth-child(2){
	margin-bottom: 15px;
}
.general-image-point-right li:nth-child(3){
	margin-bottom: 15px;
}
.general-image-point-right li:nth-child(8){
	margin-left: 0px;
}
.general-image-point-right li img{
	margin-top: 45px;
	margin-left: 62px;
	height: 145px;
	width: 131px;
}
.general-image-point-right .for-add-background{
	width: 234px;
	height: 340px;
	background-color: rgba(238,238,238,0.8);
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
}
.general-image-point-right .describe{
	width: 234px;
	height: 120px;
	position: absolute;
	top: 210px;
	left: 0px;
}
.general-image-point-right .describe p:nth-child(1){
	color: black;
	font-size: 15px;
	text-align: center;
}
.general-image-point-right .describe p:nth-child(2){
	display: block;
	color: #b0b0b0;
	font-size: 10px;
	line-height: 15px;
	width: 150px;
	height:15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    margin-left: 40px;
}
.general-image-point-right .describe p:nth-child(3){
	font-size: 15px;
	color: red;
	text-align: center;
}
.general-image-point-right .describe p span{
	color: red;
}
.general-image-point-right .describe p del{
	color: #b0b0b0;
}
.first-general-ad-img{
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	background-color: #333;
}
.top-container .header-container-nav{
	list-style: none;
}
.top-container .header-container-nav li{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top-container .header-container-nav li span{
	color: #413b36;
	margin:0px 7px;
}
.top-container .top-container-shopping{
	float: right;
	width: 120px;
	height: 40px;
	background-color: #444;
}
.top-container .top-container-shopping a{
	line-height: 40px;
	display: block;
	text-align: center;

}
.top-container .top-container-shopping a i{
	font-size: 20px;
	vertical-align: bottom;
}
.top-container .top-container-shopping:hover{
	background-color: #fff;
}
.top-container .top-container-shopping:hover a{
	color: red;
}
.top-container .top-container-personal{
  	float: right; 
  	margin-right: 45px;
  	line-height: 40px;
}
.top-container .top-container-personal ul li{
	display: inline-block;
}
.top-container .top-container-personal ul li span{
	color: #413b36;
	margin:0px 7px; 
}
.header{
	height: 100px;
}
.header-container{
	position: relative;
}
.header-container .header-container-logo{
	height: 100px;
	width: 55px;
	position: relative;
}
.header-container .header-container-logo a{
	height: 55px;
	width: 55px;
	position: absolute;
	left: 0px;
	top: 23px;
	background-color: #ff6700;
}
.header-container .header-container-logo a p{
	opacity: 0;
}
.header-container .header-container-logo a img{
	position: absolute;
	top: 8px;
	left: 10px;
	width: 30px;
	height: 39px;
}
.header-container-nav .header-container-nav-con{
	height: 50px;
	position: absolute;
	left: 245px;
	top: 25px;
	line-height: 50px;
}
.header-container-nav .header-container-nav-con li{
	float: left;
	margin-right: 23px;
}
.header-container-nav .header-container-nav-con li a{
	font-size: 16px;
	color: black;
}
.header-container-nav .header-container-nav-con li a:hover{
	color: red;
}
.for-reset-border{
	width: 300px;
	height: 50px;
	box-sizing: border-box;
	position: absolute;
	top: 25px;
	right: 0px;
}
.header-container-input{
	width: 250px;
	height: 50px;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
}
.header-container-input-search{
	display: inline-block;
	width: 250px;
	height: 50px;
	border:1px solid #eee;
	border-right: none;
	box-sizing: border-box;
}
.header-container-search-history{
	border:1px solid  #ff6700;
	box-sizing: border-box;
	height: 300px;
	width: 250px;
	visibility: hidden;
	position: relative;
	z-index: 999;
}
.header-container-search-history li {
	height: 30px;
	width: 100%;
	line-height: 30px;
}
.header-container-search-history li span{
	font-size: 12px;
}
.header-container-search-history li .left-float{
	float: left;
	margin-left: 10px;
}
.header-container-search-history li .right-float{
	float: right;
	color: #999;
	margin-right: 10px;
}
.header-container-search-history li:hover{
	background-color: #eee;
}
.header-container-input a{
	display: inline-block;
	height: 18px;
	background-color: #eee;
	color: #757575;
	position: absolute;
	top: 17px;
}
.header-container-input .one{
	left: 94px;
}
.header-container-input .two{
    right:11px; 
}
.header-container-magnifier{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	border:1px solid #eee;
	box-sizing: border-box;
}
.for-reset-border:hover .header-container-input .header-container-input-search{
	border:1px solid black;
	border-right: none;
}
.header-container-input:hover + .header-container-magnifier{
	border:1px solid black;
}
.header-container-magnifier:hover{
	background-color:  #ff6700;
	border:1px solid #ff6700;
}
.header-container-magnifier:hover i{
	color: #fff;
}
.header-container-input a:hover{
	background-color: #ff6700;
}
.header-container-magnifier:hover ~ .header-container-input .header-container-input-search{
	border:1px solid black;
	border-right: none;
}
.header-container-input-search:focus + .header-container-search-history{
	visibility: visible;
}
.header-container-input-search:focus ~ a{
	visibility: hidden;
}
.header-container-input-search:focus ~ .header-container-magnifier{
	border:1px solid #ff6700;
}
.home{
	height: 1270px;
}
.home-container-nav{
	height:460px;
	position: relative;
}
.home-container-nav .home-nav{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 232px;
	height: 460px;
	background-color: #222;
	opacity: 0.8;
	z-index: 30;
}
.home-container-nav .home-nav li{
	height: 46px;
	width: 100%;
}
.home-container-nav .home-nav li a{
	line-height: 46px;
	font-size: 15px;
	display: block;
	margin-left: 30px;
	margin-right: 20px;
}
.home-container-nav .home-nav li a span{
	float: left;
}
.home-container-nav .home-nav li a i{
	float: right;
}
.home-container-nav .home-nav li:hover{
	background-color: #ff6700;
}
.home-container-nav .home-img{
	width: 100%;
	height: 100%;
}
.home-container-nav .home-img li{
	position: absolute;
	top: 0px;
	left: 0px;
}
.home-container-nav .home-img li:nth-child(1){
	z-index: 1
}
.home-container-nav .home-img li:nth-child(2){
	z-index: 3
}
.home-container-nav .home-img li:nth-child(3){
	z-index: 2
}

.home-container-nav .home-img li img{
	width: 100%;
	height: 100%;
}
.home-container-nav .nav-symbol{
	width: 53px;
	height: 82px;
	cursor: pointer;
	position: absolute;
	top: 189px;
	z-index: 888;
}
.home-container-nav .nav-symbol:hover{
	background-color: rgba(0,0,0,0.4);	
}
.home-container-nav .nav-symbol .iconfont{
	font-size: 40px;
	color: #eee;
	line-height: 82px;
}
.home-container-nav .home-nav-less{
	left: 232px;
}
.home-container-nav .home-nav-less .iconfont{
	float: left;
}
.home-container-nav .home-nav-more{
	right: 0px;
}
.home-container-nav .home-nav-more .iconfont{
	float: right;
}
.home-container-nav .home-nav-spot{
	position: absolute;
	bottom: 20px;
	right: 30px;
	z-index: 222;
}
.home-container-nav .home-nav-spot li{
	float:left;
	width: 10px;
	height: 10px;
	margin-right: 20px;
	background-color: #888;
	border: 2px solid #ddd;
	border-radius: 50%;
}
.home-container-nav .home-nav-spot li:hover{
	background-color: #fff;
	border: 2px solid #555;
}
.home-container-hot{ 
	height: 170px;
	margin: 14px 0px 25px 0px;
}
.home-container-hot .home-hot-prompt{
	height: 100%;
	position: relative;
	background: #5f5750;
}
.home-container-hot .home-hot-prompt .this-is-a-line-middle{
	position: absolute;
	border-top: 1px solid #777;
	width: 63px;
}
.home-container-hot .home-hot-prompt .this-is-a-line-right{
	position: absolute;
	border-right: 1px solid #777;
	height: 70px;
}
.home-container-hot .home-hot-prompt div:nth-child(1){
	top: 85px;
	left: 8px;
}
.home-container-hot .home-hot-prompt div:nth-child(2){
	top: 85px;
	left: 86px;
}
.home-container-hot .home-hot-prompt div:nth-child(3){
	top: 85px;
	left: 163px;
}
.home-container-hot .home-hot-prompt div:nth-child(4){
	top: 8px;
	left: 80px;
}
.home-container-hot .home-hot-prompt div:nth-child(5){
	top: 8px;
	left: 155px;
}
.home-container-hot .home-hot-prompt div:nth-child(6){
	top: 90px;
	left: 80px;
}
.home-container-hot .home-hot-prompt div:nth-child(7){
	top: 90px;
	left:155px;
}

.home-container-hot .home-hot-prompt li{
	float: left;
	width: 78px;
	height: 85px;
	text-align: center;
	padding-top: 10px;
}
.home-container-hot .home-hot-prompt li a i{
	font-size:25px;  
}
.home-container-hot .home-hot-point{
	height: 100%;
}
.home-container-hot .home-hot-point li{
	float:left;
	margin-right: 14px;
	width: 316px;
	height: 170px;
}
.home-container-hot .home-hot-point li:nth-child(3){
	margin-right:0px;
}
.home-container-hot .home-hot-point li img{
	width: 100%;
	height: 100%;
}
.home-container-flash{ 
	height:402px;
	margin-bottom: 40px;
}
.home-container-flash .home-flash-point .home-flash-point-left{
	height:340px;
	background-color: #f1eded;
	border-top: 1px solid red;
	padding-top:60px; 
	box-sizing: border-box;
}
.home-container-flash .home-flash-point .home-flash-point-left .one{
	color: red;
	font-size: 20px;
	margin-bottom: 35px;
	text-align: center;
}
.home-container-flash .home-flash-point .home-flash-point-left .two{
	width: 61px;
	height: 73px;
	margin-bottom: 25px;
	margin-left: 86px;
}
.home-container-flash .home-flash-point .home-flash-point-left .two img{
	width: 100%;
	height: 100%;
}
.home-container-flash .home-flash-point .home-flash-point-left .three{
	width: 234px;
	height: 20px;
	line-height: 20px;
	color: #706f6f;
	font-size: 20px;
	margin-bottom: 25px;
	text-align: center;
}
.home-container-flash .home-flash-point .home-flash-point-left .four{
	padding-left: 33px;
}
.home-container-flash .home-flash-point .home-flash-point-left .four li{
	float: left;
	font-size: 25px;
	padding-top: 10px;
	text-align: center;
	box-sizing: border-box;
}
.home-container-flash .home-flash-point .home-flash-point-left .four li:nth-child(1){
	width: 46px;
	height: 46px;
	background: #605751;
	color: #fff;
}
.home-container-flash .home-flash-point .home-flash-point-left .four li:nth-child(2){
	width: 15px;
	height: 46px;
	background: #fff;
	color: #000;
}
.home-container-flash .home-flash-point .home-flash-point-left .four li:nth-child(3){
	width: 46px;
	height: 46px;
	background: #605751;
	color: #fff;
}
.home-container-flash .home-flash-point .home-flash-point-left .four li:nth-child(4){
	width: 15px;
	height: 46px;
	background: #fff;
	color: #000;
}
.home-container-flash .home-flash-point .home-flash-point-left .four li:nth-child(5){
	width: 46px;
	height: 46px;
	background: #605751;
	color: #fff;
}
.home-container-flash .home-flash-point .home-flash-point-right{
	height: 340px;
}
.home-container-ad{ 
	height:122px;
}
.main{
	height: 2057px;
}
.main-container-phone{
	margin-bottom: 40px;
}
.main-container-ad1{
	height:120px;
	background-color:purple; 
}
.main-container-dv{
	height:674px;
	background-color: red;
}
.main-container-ad2{
	height:120px;
	background-color:purple; 
}
.main-container-video{
	height:180px;
	background-color: olive;
}
.footer{
height: 275px;
background-color: red;
}
.end{
height: 148px;
background-color: yellow;
}