*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.general-images{
	position: relative;
	width: 245px;
	height: 362px;
	border:1px solid #efefef;
	box-sizing: border-box;
	cursor: pointer;
}
.general-images .for-add-bcgimg{
	position: absolute;
	top: 32px;
	left: 20px;
	width: 200px;
	height: 180px;
	background-color: red;
}
.general-images .for-add-bcgimg1{
	background-position: 
}
.general-images .for-add-skin{
	position: absolute;
	top: 230px;
	left: 0px;
	width: 100%;
	height: 20px;
	background-color: blue;
}
.general-images .for-add-skin li{
	position: absolute;
	top: 0px;
	isolation: 20px;
	height: 20px;
	width: 20px;
	border:1px solid #000;
	padding:4px;
	box-sizing: border-box;
	background-clip: content-box;
	border-radius: 50%;
	transition: all 0.5s;
}
.general-images .for-add-skin li:hover{
	border:3px solid #b7b7b7;
}
.general-images .for-add-skin .i-amSmallLi1{
	left: 50px;
	background-color:#000;
}
.general-images .for-add-skin .i-amSmallLi2{
	left: 76px;
	background-color: #bfbfbf;
}
.general-images .for-add-skin .i-amSmallLi3{
	left: 102px;
	background-color: #073147;
}
.general-images .for-add-skin .i-amSmallLi4{
	left: 128px;
	background-color: #edc681;
}
.general-images .for-add-skin .i-amSmallLi5{
	left: 154px;
	background-color: #5c4138;
}
.general-images .for-add-skin .i-amSmallLi6{
	left: 180px;
	background-color:#444132; 
}
.general-images .for-add-name{
	position: absolute;
	top: 260px;
	left: 0px;
	width: 100%;
	height: 20px;
	background-color: yellow;
	text-align: center;
	line-height: 20px;
}
.general-images .for-add-depreciate{
	position: absolute;
	top: 280px;
	left: 0px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #808080;
	font-size: 12px;
	background-color: pink;
}
.general-images .for-add-price{
	position: relative;
	top: 300px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: yellow;
	text-align: center;
	line-height: 40px;
	color: #f00;
}
.general-images .for-add-price i{
	margin-right: 5px;
}
.general-images .for-add-right-top{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 46px;
	height: 20px;
	box-sizing: border-box;
	border:1px solid #d5b480;
	color: #a06e37;
	background-color: #fffbdf;
	text-align: center;
	line-height: 20px;
	font-weight: bolder;
	border-radius: 10px;
}
.general-images .for-add-masking{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 245px;
	height: 362px;
	background-color:rgba(0,0,0,0.3);
	opacity: 0.2;
	display: none;
}
.general-images:hover .for-add-masking{
	display: block;
}